<body>
  <div class=fluid-container id="bg1">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-center">

        <h1 id="head1">GO CORONA</h1>
        <p id="pinfo">A Web app to eradicate the spread of COVID-19 IN INDIA.</p>

      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #2e2d2d;">
    <a class="navbar-brand" routerLink="../" id="brand">CORONA GO</a>
    <button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" aria-controls="navbarResponsive"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="nav navbar-nav nav-tabs">
        <li class="nav-item mx-0 mx-lg-1" role="presentation"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" id="list" routerLink="../">HOME</a></li>
        <li class="nav-item mx-0 mx-lg-1" role="presentation"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" id="list" href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019">WHO</a></li>
        <li class="nav-item mx-0 mx-lg-1" role="presentation"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" id="list" href="https://www.mohfw.gov.in/">ANNOUNCEMENTS</a></li>
        <li class="nav-item mx-0 mx-lg-1" role="presentation"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" id="list" href="https://indianhelpline.com/">EMERGENCY CONTACTS</a></li>
        <li class="nav-item mx-0 mx-lg-1" role="presentation"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" id="list" href="#">CONTACT ME</a></li>
      </ul>
    </div>
  </nav><br><br>

  <div class="container full-height">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="form-box">
          <form>
            <fieldset>
              <legend style="text-align: center; font: 2em sans-serif; color: #ffffff; font-weight: 700;">Sign In</legend><img id="avatar" class="img-fluid avatar round" src="assets/images/avatar.webp" />
              <input class="form-control" type="email" id="username" name="Email" placeholder="abc@gmail.com" /><br>
              <input class="form-control" type="password" id="password" name="password" placeholder="password" /><br>
              <div style="width:100%" class="d-flex justify-content-center"><button class="btn btn-primary btn-block" type="button" routerLink="../doclogin">Doctor Login </button></div>
              <div style="width:100%" class="d-flex justify-content-center"><button class="btn btn-primary btn-block" type="button" routerLink="../profileoff">Officer Login </button></div>
              <div style="width:100%" class="d-flex justify-content-center"><button class="btn btn-primary btn-block" type="button" routerLink="../profile">Citizen Login</button></div>
            </fieldset>
          </form>
        </div>
      </div>
      </div>
</div></body>
