body{
	background-image: url(https://images.currency.com/dbaaaa9a/0516/52c5/8445/726ba80acb44/on_page/shutterstock-1285901983.jpg);
}
#list{
	color: aliceblue;
}
#bg1{
	background-image: url("https://images.unsplash.com/photo-1532190370294-e81fe487b61a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
	position: relative;

  }
  #head1{
	  color:white;
	  font-weight: bold;
  }
  #pinfo{
	color:white;
	font-weight: bold;
    font-size: large;
  }
  .card{
	  opacity:0.8;
  }
#para{
	font-family: nutino;
	font-weight: 700;
	font-size: x-large;
	font-style: italic;
	color: yellow;
	margin-left: 10px;
}
#brand{
	color: white;
}
#headg{
	text-align: center;
	font-size: 2rem;
	font-weight: bold;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color:#000000;
}
#list1{
	font-weight: 500;
	color:white;
	font-size: 25px;
}
#list2{
	font-weight: 500;
	color:white;
	font-size: 25px;
}
#name{
	color: #000000;
	font-weight: 700;
}
#email{
	color: #000000;
	font-weight: 700;
}
#pass{
	color: #000000;
	font-weight: 700;
}
#passr{
	color: #000000;
	font-weight: 700;
}
#gen{
	color: #000000;
	font-weight: 700;
}
#lab{
	color: #000000;
	font-weight: 700;
}
#headf{
	color: #000000;
	font-weight: 700;
}
#avatar{
	height: 200px;
	width: 200px;
}