body {
  background-image: url("https://i.pinimg.com/originals/41/7b/48/417b487ef7dc7281dd0b50f51047b04d.png");
  background-repeat: repeat;
}

#list {
  color: aliceblue;
}

#bg1 {
  background-image: url("https://images.unsplash.com/photo-1532190370294-e81fe487b61a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
  position: relative;
}

#head1 {
  color: white;
  font-weight: bold;
}

#pinfo {
  color: white;
  font-weight: bold;
  font-size: large;
}

#brand {
  color: white;
}

#coln {
  margin-top: 40px;
}

#colm {
  margin-top: 40px;
}
