<body>
  <div class=fluid-container id="bg1">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-center">

        <h1 id="head1">GO CORONA</h1>
        <p id="pinfo">A Web app to eradicate the spread of COVID-19 IN INDIA.</p>

      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #2e2d2d;">
    <a class="navbar-brand" routerLink="../" id="brand">CORONA GO</a>
    <button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" aria-controls="navbarResponsive"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="nav navbar-nav nav-tabs">
        <li class="nav-item mx-0 mx-lg-1" role="presentation"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" id="list" routerLink="../">HOME</a></li>
        <li class="nav-item mx-0 mx-lg-1" role="presentation"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" id="list" href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019">WHO</a></li>
        <li class="nav-item mx-0 mx-lg-1" role="presentation"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" id="list" href="https://www.mohfw.gov.in/">ANNOUNCEMENTS</a></li>
        <li class="nav-item mx-0 mx-lg-1" role="presentation"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" id="list" href="https://indianhelpline.com/">EMERGENCY CONTACTS</a></li>
        <li class="nav-item mx-0 mx-lg-1" role="presentation"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" id="list" href="#">CONTACT ME</a></li>
      </ul>
    </div>
  </nav><br><br>

  <div class="fluid-container">
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-4">

        <div class="row" id="rowid" style="background:transparent url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8V6M-Q-I_xrsbzccF7oahFxoWQWCWVYe1ZOCtYAiGWFEqQvC0&s') no-repeat center center /cover">
          <div class="col-lg-12 col-md-12 col-sm-12"><img src="assets/images/dummyid.jpg" class="rounded" id="ProImg"></div>
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6"><h6>Name:</h6></div>
              <div class="col-lg-6 col-md-6 col-sm-6"><p id="gpara1">Dummy</p></div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6"><h6>Age:</h6></div>
              <div class="col-lg-6 col-md-6 col-sm-6"><p id="gpara2">28</p></div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6"><h6>Gender:</h6></div>
              <div class="col-lg-6 col-md-6 col-sm-6"><p id="gpara3">Male</p></div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6"><h6>Location:</h6></div>
              <div class="col-lg-6 col-md-6 col-sm-6"><p id="gpara4">Patna Border</p></div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-lg-10 col-md-10 col-sm-10  justify-content-right" id="cols">
        <div class="col-md-12 col-sm-12 search-table-col">
          <div class="form-group pull-right col-lg-4"><input type="text" class="search form-control" placeholder="Search by typing here.." /></div><span class="counter pull-right"></span>
          <div class="table-responsive table-bordered table table-hover table-bordered results">
            <table class="table table-bordered table-hover">
              <thead class="bill-header cs">
                <tr>
                  <th id="trs-hd" class="col-lg-1">SL. No.</th>
                  <th id="trs-hd" class="col-lg-2">Name</th>
                  <th id="trs-hd" class="col-lg-3">Father's Name</th>
                  <th id="trs-hd" class="col-lg-2">Payment Status</th>
                  <th id="trs-hd" class="col-lg-2">Pay Now</th>
                </tr>
              </thead>
              <tbody>
                <tr class="warning no-result">
                  <td colspan="12"><i class="fa fa-warning"></i>  No Result !!!</td>
                </tr>
                <tr>
                  <td>01</td>
                  <td>Mr. abc</td>
                  <td>Mr. def</td>
                  <td>1000</td>
                  <td><button class="btn btn-success" style="margin-left: 5px;" type="submit"><i class="fa fa-check" style="font-size: 15px;"></i></button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
