body {
  background-image: url("https://images.wallpaperscraft.com/image/sky_birds_flight_135782_3840x2400.jpg");
  background-repeat: repeat;
}

#list {
  color: aliceblue;
}

#bg1 {
  background-image: url("https://images.unsplash.com/photo-1532190370294-e81fe487b61a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
  position: relative;
}

#head1 {
  color: white;
  font-weight: bold;
}

#pinfo {
  color: white;
  font-weight: bold;
  font-size: large;
}

#brand {
  color: white;
}

#headg {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #000000;
}

#ProImg {
  height: 250px;
  width: 250px;
}
