<body>
  <div class=fluid-container id="bg1">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-center">

        <h1 id="head1">GO CORONA</h1>
        <p id="pinfo">A Web app to eradicate the spread of COVID-19 IN INDIA.</p>

      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #2e2d2d;">
    <a class="navbar-brand" routerLink="../" id="brand">CORONA GO</a>
    <button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" aria-controls="navbarResponsive"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="nav navbar-nav nav-tabs">
        <li class="nav-item mx-0 mx-lg-1" role="presentation"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" id="list" routerLink="../">HOME</a></li>
        <li class="nav-item mx-0 mx-lg-1" role="presentation"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" id="list" href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019">WHO</a></li>
        <li class="nav-item mx-0 mx-lg-1" role="presentation"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" id="list" href="https://www.mohfw.gov.in/">ANNOUNCEMENTS</a></li>
        <li class="nav-item mx-0 mx-lg-1" role="presentation"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" id="list" href="https://indianhelpline.com/">EMERGENCY CONTACTS</a></li>
        <li class="nav-item mx-0 mx-lg-1" role="presentation"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" id="list" href="#">CONTACT ME</a></li>
      </ul>
    </div>
  </nav><br><br>

  <div class="fluid-container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12"><img src="assets/images/dummy.jpg" class="img-fluid rounded-circle" id="ProImg"></div>
      <div class="col-lg-8 col-md-8 col-sm-12">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6"><h5>Name:</h5></div>
          <div class="col-lg-6 col-md-6 col-sm-6"><p id="gpara1">Dummy dummy</p></div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6"><h5>Age:</h5></div>
          <div class="col-lg-6 col-md-6 col-sm-6"><p id="gpara2">28</p></div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6"><h5>Gender:</h5></div>
          <div class="col-lg-6 col-md-6 col-sm-6"><p id="gpara3">Male</p></div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6"><h5>phone:</h5></div>
          <div class="col-lg-6 col-md-6 col-sm-6"><p id="gpara4">9999888877</p></div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6"><button class="btn btn-danger" id="signout" routerLink="../signin">SignOut</button></div>
          <div class="col-lg-6 col-md-6 col-sm-6"><a href="#" style="color: red;">Click here if no hospital found</a></div>
        </div>
      </div>
    </div>
  </div><hr>

  <div class="fluid-container">
    <u><h2 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Hospital Availabe</h2></u>
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-12">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6"><h5>Hospital Name:</h5></div>
          <div class="col-lg-6 col-md-6 col-sm-6"><p id="hpara1">Dummy Hospital</p></div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6"><h5>Bed Availabe:</h5></div>
          <div class="col-lg-6 col-md-6 col-sm-6"><p id="hpara2">x</p></div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6"><h5>Ambulance:</h5></div>
          <div class="col-lg-6 col-md-6 col-sm-6"><p id="hpara3">Yes</p></div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6"><h5>Charge Per Bed :</h5></div>
          <div class="col-lg-6 col-md-6 col-sm-6"><p id="hpara4">$ 100</p></div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="col-lg-12 col-md-12 col-sm-12"><button class="btn btn-primary" id="signout">Book My Bed</button></div><br>
        <div class="col-lg-12 col-md-12 col-sm-12"><button class="btn btn-light" id="signout">Add script to share location</button></div>
      </div>
    </div>
  </div>

</body>
